/* Acer 1366x768 */
:root{
    --display-width:1300px;
}
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:30px;
    width:calc(var(--display-width));
    /* border: dashed 1px red; */
}

#title-label{  
    /* background-color:blue; */
}

#download-button{
    margin-left: 300px;
    text-align: center;
    background-color: #00b7ff;
    border-bottom: 5px solid #024f97;
    border-radius: 10px;
    width:200px;

}
#download-button:hover{
    margin-top: 3px;
    color: #000;
    background: #00b7ff;
    border-bottom: 2px solid #024f97;
}

.workspace{
    display: flex;
    width:var(--display-width);
    height:700px;
    /* border: dashed 1px red; */
}

.tool-box{
    width:150px;
    /* border:dashed 1px blue; */
}
#tool-box-title{
    color:#000;
    text-align: center;

}

#tool-map{
    height:40px;
}

#map-load-button{
    text-align: center;
    background-color: #fff100;
    border-bottom: 5px solid #ccc100;
    border-radius: 10px;

}
#map-load-button:hover{
    /* margin-top: 3px; */
    color: #000;
    background: hsl(73, 100%, 50%);
    border-bottom: 5px solid #ccc100;
}

input[type='file']{
    display:none;
}

.tool-box-row{
    /* margin-top:5px; */
    display: flex;
    height:10%;
}

.tool,.toolColor,.toolThickness{
    margin-top:1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border:solid 4px white;
    width:50%;
}

.tool:hover{
    border:solid 4px yellow;
}

.toolColor:hover{
    border:solid 4px gray;

}

.toolThickness:hover{
    border:solid 4px purple;

}
.activeTool{
    border:solid 4px red;
    /* transform:scale(1.5); */
}
.activeColor{
    border:solid 4px pink;
    /* transform:scale(1.5); */
}
.activeThickness{
    border:solid 4px orange;
    /* transform:scale(1.5); */
}
.map{
    width: 950px;
    height: 700px;
    position: relative;
    background-color: rgba(212, 212, 212, 0.801);
    /* border: dashed 1px blue; */
}

#canvasMap{
    position:absolute;
    /* top:100px; */
    /* left:200px; */
    /* margin-left: 200; */
    /* border: solid 3px blue; */
}

#canvasPaint{
    position:absolute;
    /* padding:100; */
    /* margin-left: 500; */
    /* border: solid 2px green; */
}

#canvasContact{
    display: none !important; /* 非表示設定 */
}

.fukidashi{
    width:200px;
    /* border: dashed 1px blue; */
}

.fukidashi-row{
    height:25%;
}

.fukidashi-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border:dashed 1px blue; */
}

.textFukidashi{
    resize:none; /* 伸縮不可 */
    width:100%; 
    height:12em;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Chrome, Safari */
}

.photos{
    width:200px;
    /* border: dashed 1px blue; */
}

.photos-row{
    /* border:solid 1px black; */
    height:25%;
}

.photos-title{
    height:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(202, 244, 250);
    /* border:dashed 1px blue; */
}

.photo-canvas{
    height:75%;
}

.comment{
    display: flex;
    width:var(--display-width);
    /* border: dashed 1px red; */
}

.comment-col{
    width:50%;
}

.textComment{
    resize:none; /* 伸縮不可 */
    width:100%; 
    height:5em;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Chrome, Safari */
}

#comment-title1{
    background-color: rgb(202, 244, 250);
}

#comment-title2{
    background-color: rgb(217, 250, 202);
}
